{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Bought/Sold</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for record in transactions %}
                <tr>
                    <td>{{record['symbol']}}</td>
                    <td>{{record['shares']}}</td>
                    <td>{{record['buy_sell']}}</td>
                    <td>{{record['price']}}</td>
                    <td>{{record['transacted']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}