{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action = "/sell" method = "POST">
        <div class = "form-group">
            <select class = "form-control" name = "symbol">
                <option disabled selected value = "symbol">Symbol</option>
                {% for stock in stocks %}
                    <option value = "{{stock["symbol"]}}">{{stock["symbol"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class = "form-group">
            <input name = "shares" type = "number" autocomplete = "off" class = "form-control" min = "1" placeholder = "Shares" />
        </div>
        <button class = "btn btn-primary" type = "submit">Sell</button>
    </form>
{% endblock %}